# See http://help.github.com/ignore-files/ for more about ignoring files.

*.local.*

# compiled output
/dist
/lib
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
.idea
.vscode
.project
*.launch
.settings/
*.sublime-workspace

# misc
npm-debug.log
.eslintcache

# Yarn https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
yarn-error.log

# System Files
.DS_Store
Thumbs.db
